@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Jinaga Privacy Policy</h1>

<p>We take your privacy seriously and are committed to protecting your personal information. This privacy policy describes how we collect, use, and disclose personal information about our users.</p>

<h2>Collection of Information</h2>

<p>We collect personal information from our users in order to provide and improve our services. The types of personal information we collect include:</p>

<ul>
    <li>Information you provide to us: When you sign up for an account, we collect your name, email address, and any other information you choose to provide to us.</li>
    <li>Usage metrics: We collect usage metrics to help us understand how our users interact with our service. This includes information such as your IP address, browser type, and pages you visit on our website.</li>
    <li>Application data: We collect data that you and your users save while using a Jinaga-enabled application.</li>
</ul>

<h2>Use of Information</h2>

<p>We use the personal information we collect to provide and improve our services. This includes:</p>

<ul>
    <li>Providing customer support: We use your personal information to respond to your requests and provide customer support.</li>
    <li>Improving our services: We use usage metrics to analyze how our users interact with our service and make improvements.</li>
    <li>Communication: We may use your personal information to communicate with you about service updates, changes to our policies, or other information related to your account.</li>
</ul>

<p>We use the application data to serve subsequent requests within the application, and other connected applications. This may result in the sharing of information among users of those applications. This sharing is controlled by the use of the Jinaga APIs within those applications, and the authorization and distribution rules that you apply to the online database using this service.</p>

<h2>Disclosure of Information</h2>

<p>We will not sell or trade your personal information to any third party. However, we may disclose your personal information in the following circumstances:</p>

<ul>
    <li>Legal requirements: We may disclose your personal information in response to a court order, subpoena, or other legal process.</li>
    <li>Protection of our service: We may disclose your personal information to enforce our policies or protect our rights and property.</li>
</ul>

<h2>Security</h2>

<p>We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, no data transmission over the internet or wireless network can be guaranteed to be 100% secure.</p>

<h2>Changes to this Privacy Policy</h2>

<p>We may modify this privacy policy at any time, so please review it frequently. If we make material changes to this policy, we will notify you by email or by posting a notice on our website prior to the change becoming effective.</p>

<h2>Contact Us</h2>

<p>If you have any questions or concerns about this privacy policy, please contact us at <a href="mailto:support@jinaga.com">support@jinaga.com</a>.</p>